@using MavroTag.WebApp.Models

@model LoginModel
@{
    ViewBag.Title = "Вход — MavroTag";
}

<div>
    <p></p>

    <p class="h5">Вход — MavroTag</p>

    <p></p>

    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { id = "loginForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.HiddenFor(c => c.ReturnUrl)
            <div id="error" class="alert alert-danger" role="alert" style="display: none;">@Model.Error</div>
            <label for="Passphrase">Введите код</label>
            @Html.PasswordFor(c => c.Passphrase, new { @class = "form-control" })
            <br />
            <div class="d-flex align-items-center">
                <button type="button" id="loginButton" class="btn btn-primary">
                    <span id="loading1" class="spinner-border spinner-border-sm"></span>
                    Войти
                </button>
            </div>
        </div>
    }

    <p></p>

</div>

<script>
	$(function () {

		if ("@Model.Error") $("#error").show(); else $("#error").hide();

        $("#loading1").hide();

        $("#Passphrase").focus();

		$("#Passphrase").on("keypress", function (e) {
			if (event.keyCode === 13) {
				if (!onLoginButtonClick(e)) return false;
			}
		});

		$("#loginButton").click(function (e) {
			onLoginButtonClick(e)
		});
	});

	function validatePassphrase() {
		return validateRequired("#Passphrase", "Введите код.");
	}

	function validateLoginForm() {
		if (!validatePassphrase()) return false;
		return true;
	}

	function onLoginButtonClick(e) {
		if (!validateLoginForm()) return false;
		$("#loading1").show();
		$("#loginForm").submit();
	}
</script>
