@using MavroTag.WebApp.Helpers
@using MavroTag.Core.Enums
@model MavroTag.WebApp.Models.TagProjectsModel

@{
    ViewBag.Title = "Tag-проекты с моим участием";
}

<div>

    <p></p>

    <p class="h5">Tag-проекты с моим участием</p>

    <p></p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Имя</th>
                <th scope="col">Описание</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for (var index = 0; index < Model.TagProjects.Count; index++)
            {
                <tr>
                    <td>@Model.TagProjects[index].Id</td>
                    <td>@Model.TagProjects[index].Name</td>
                    <td>@Model.TagProjects[index].Description</td>
                    <td>
                        @if (Model.TagProjectUserPermissions[index].Contains(TagProjectPermissions.ManageTexts))
                        {
                            <a class="btn-link" href="@Url.Action("Index", "TagProjectCategories", new { tagProjectId = Model.TagProjects[index].Id})">Тексты</a>
                        }
                        @if (Model.TagProjectUserPermissions[index].Contains(TagProjectPermissions.ManageTags))
                        {
                            <a class="btn-link" href="@Url.Action("Index", "TagProjectTags", new { tagProjectId = Model.TagProjects[index].Id})">Теги</a>
                        }
                        @if (Model.TagProjectUserPermissions[index].Contains(TagProjectPermissions.ManageParagraphTags))
                        {
                            <a class="btn-link" href="@Url.Action("Index", "TagProjectParagraphTags", new { tagProjectId = Model.TagProjects[index].Id})">Параграфы</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p></p>

</div>