@using MavroTag.WebApp.Helpers
@model MavroTag.WebApp.Models.UsersModel

@{
    ViewBag.Title = "Управление пользователями";
}

<div>

    <p></p>

    <p class="h5">Управление пользователями</p>

    <p></p>

    @if (AuthHelper.IsAddUserPermission)
    {
        <p><a class="btn-link" href="@Url.Action("Add", "Users")">Добавить пользователя</a></p>
    }

    <p></p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Имя</th>
                <th scope="col">Описание</th>
                <th scope="col">Регистрация</th>
                <th scope="col">Активен</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for (var index = 0; index < Model.Users.Count; index++)
            {
                <tr>
                    <th scope="row">@Model.Users[index].Id</th>
                    <td>@Model.Users[index].Name</td>
                    <td>@Model.Users[index].Description</td>
                    <td>@Model.Users[index].AddedDateTime.ToShortDateString() @Model.Users[index].AddedDateTime.ToShortTimeString()</td>
                    <td>@Html.CheckBoxFor(c => Model.Users[index].IsEnabled, new { onclick = "return false;" })</td>
                    <td>
                        @if (AuthHelper.IsEditUserPermission)
                        {
                            <a class="btn-link" href="@Url.Action("Edit", "Users", new { id = Model.Users[index].Id })">Редактировать</a>
                        }
                        @if (AuthHelper.IsDeleteUserPermission)
                        {
                            <a class="btn-link delete" href="@Url.Action("Delete", "Users", new { id = Model.Users[index].Id })">Удалить</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p></p>

</div>

<script>
    $(function () {
        $(".delete").click(function (event) {
            if (!confirm("Удалить пользователя?")) {
                event.preventDefault();
            }
        });
    });
</script>