@using MavroTag.WebApp.Helpers
@model MavroTag.WebApp.Models.TagProjectsModel

@{
    ViewBag.Title = "Tag-проекты";
}

<div>

    <p></p>

    <p class="h5">Мои Tag-проекты</p>

    <p></p>

    @if (AuthHelper.IsMyTagProjectsPermission)
    {
        <p><a class="btn-link" href="@Url.Action("Add", "TagProjects")">Добавить Tag-проект</a></p>
    }

    <p></p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Имя</th>
                <th scope="col">Описание</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for (var index = 0; index < Model.TagProjects.Count; index++)
            {
                <tr>
                    <td>@Model.TagProjects[index].Id</td>
                    <td>@Model.TagProjects[index].Name</td>
                    <td>@Model.TagProjects[index].Description</td>
                    <td>
                        <a class="btn-link" href="@Url.Action("Edit", "TagProjects", new { id = Model.TagProjects[index].Id })">Редактировать</a>
                        <a class="btn-link" href="@Url.Action("Index", "TagProjectUserPermissions", new { tagProjectId = Model.TagProjects[index].Id })">Пользователи</a>
                        <a class="btn-link delete" href="@Url.Action("Delete", "TagProjects", new { id = Model.TagProjects[index].Id })">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p></p>

</div>

<script>
    $(function () {
        $(".delete").click(function (event) {
            if (!confirm("Удалить Tag-проект?")) {
                event.preventDefault();
            }
        });
    });
</script>