<!DOCTYPE html>

<html lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml">

<head>

    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/mavropedia.svg">

    <meta charset="utf-8" />
    <meta name="language" content="Russian" />
    <meta name="viewport" content="width=device-width" />

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    @Styles.Render("~/Content/css")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/site")

</head>
<body>
    @RenderSection("scripts", required: false)
    <div class="container body-content">
        <div class="border">
            <div class="row">
                <div class="col text-center">
                    <div style="margin-top: .5rem;"></div>
                    <h6>MavroTag</h6>
                </div>
            </div>
        </div>
        <div style="margin: 1px;">
        </div>
        <div class="border">
            <ul class="nav bg-light">
                <li class="nav-item">
                    <a class="nav-link active h6" href="@Url.Action("Index", "Home")">MavroTag</a>
                </li>
            </ul>
        </div>
        <div style="margin: 1px;">
        </div>
        <div class="border" style="padding: 10px;">
            @RenderBody()
        </div>
        <div style="margin: 1px;">
        </div>
        <div class="border">
            <ul class="nav bg-light">
                <li class="nav-item">
                    <a class="nav-link active small" href="@Url.Action("About", "Home")">О проекте</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
